#bodie{
    background-color: #8f8f8f;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url("https://images.squarespace-cdn.com/content/v1/5e24ae78c58616310609d323/1579466113098-QIEO3ZQ4EJ2FNT0F4E4X/ke17ZwdGBToddI8pDm48kCPztTQZpDiZMOuuCfUxiyx7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UYlQ-m0oNUh_9buvyC-f1CSdhG_dNlqULB2ZTz-ses64A-QPhXXvNcU0N8wN7BGx0g/Portfolio+Background.jpg?format=2500w"); */
    /* background-image: url(../images/purple-background.jpg); */
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* font-family: Arial; */
  }

  main {
    flex: 1 0 auto;
  }
  .container {
      max-width: 1400px;
  }
    @media screen and (min-width: 961px) and (max-width: 1880px) {
      .container {
        width: 1200px;
      }
    }
    @media screen and (min-width: 961px) and (max-width: 1620px) {
      .container {
        width: 960px;
      }
    }
    @media screen and (min-width: 961px) and (max-width: 1320px) {
      .container {
        width: 100%;
      }
    }
    @media screen and (max-width: 960px) {
      .container {
        width: 100%;
      }
    }
    @media screen and (max-width: 736px) {
      .container {
        width: 100%;
      }
    }
#pro-title {
  margin-top: 10px;
  color: rebeccapurple;
  text-align: center;
  font-family: 'Montserrat Subrayada', sans-serif;
}
.btn-dark {
  margin: 8px;
  text-align: center;
  color: #ffff;
  background-color: #313131;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  border: 2px solid #222;
  border-radius: 5px;
  box-shadow: 1px 1px 0 rgba(0,0,0,.25);
  text-decoration: none;
}
#buttons-menu {
  text-align: center;
}
#project-name {
  color: #ffff;
}
#project-info {
  color: #ffff;
}
h4 {
  color: #ffff;
}
#github {
  font-size: 15px;
}
#demo {
  font-size: 15px;
}
#full-nav-one{
  background-color: rgba(0, 0, 0, 0.4);
    padding-top: 20px;
    padding-bottom: 40px;
}
.navbar-brand{
    color: #9d9d9d17;
}
#develope{
    color: #ffff;
}

#name-logo{
  font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-top: 5px;
    color: lightskyblue;
    letter-spacing: 2px;
}
.navbar-header a:hover {
  text-shadow: lightsteelblue;
  font-weight: bolder;
  padding-top: 10px;
}
#full-nav{
    padding-top: 40px;
}
#about-link{
  margin: 8px;
  text-align: center;
  color: #ffff;
  font-size: 15px;
  text-decoration: none;
}
#port-link{
  margin: 8px;
  text-align: center;
  color: #ffff;
  font-size: 15px;
  text-decoration: none;
}
#cont-link{
  margin: 8px;
  text-align: center;
  color: #ffff;
  font-size: 15px;
  text-decoration: none;
}
.justify-content-end a:hover{
  font-style: italic;
  font-weight: bold;
}
#myBtnContainer{
    padding-top: 20px;
    text-align: center;
}
 #footer-link{
     text-align: center;
     padding-top: 50px;
     padding-bottom: 40px;
 }
 #git-con{
    margin: 5px;
    color: #ffff
}
#link-con{
    margin: 5px;
    color: #ffff;
}
#face-con{
    padding-right: 5px;
    margin: 5px;
    color: #ffff;
}
#tweet-con{
  margin: 5px;
    color: #ffff;
} 

  /* Create three equal columns that floats next to each other */
  .column {
    /* float: right; */
    width: 60%;
    display: none; /* Hide all elements by default */
  }
  .row {
    margin-left: 0px;
  }
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
    /* margin-left: 0px; */
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  .section-container {
	  margin: auto;
	  width: 90%;
	  overflow: hidden;
  }
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  #languages {
	  height: 40px;
	  width: 40px;
	  margin-right: 5px;
	  border-radius: 50%;
  }
  .project-item {
	  padding: 180px 90px;
  margin-bottom: 10px;
  margin-top: 10px;
  }
  .hoot,
  .nite,
  .trails,
  .nite,
  .giphy,
  .train,
  .bamazon,
  .friend,
  .burger,
  .liri,
  .google-books,
  .scraping,
  .word-node,
  .crystal,
  .clicky,
  .simpsonsTriv,
  .word-game {
	  background-size: cover;
	  background-position: center;
	  /* background-position: top; */
  	  transition: all ease-in-out 300ms;
      position: relative;
  	  -webkit-box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.2);
      z-index: 3;
  }
  .hoot {
	  background-image: url(../images/hoot-holla.png);
  }
  .trails {
	  background-image: url(../images/trails-pro.png);
  }
  .nite {
	  background-image: url(../images/final-project.png);
  }
  .giphy{
	  background-image: url(../images/GiphyApp.png);
  }
  .train {
	  background-image: url(../images/trainapp.png);
  }
  .bamazon {
	  background-image: url(../images/Bamazon.png);
  }
  .friend {
	  background-image: url(../images/friend-finder.png);
  }
  .burger {
	  background-image: url(../images/eat-da-burger.png);
  }
  .liri {
	  background-image: url(../images/liri-bot.png);
  }
  .scraping {
	  background-image: url(../images/scraping-mongo.png);
  }
  .google-books {
	  background-image: url(../images/google-books.png);
  }
  .word-node {
    background-image: url(../images/word-node.png);
  }
  .crystal {
    background-image: url(../images/crystals.png);
  }
  .word-game {
    background-image: url(../images/wordgame.png);
  }
  .simpsonsTriv {
    background-image: url(../images/simpsonsTriv.png);
  }
  .clicky {
    background-image: url(../images/clicky-game.png);
  }
  /* Style the buttons */
  .btn-success {
	border: none;
	border-radius: 0.125rem;
    outline: none;
    margin: 5px;
    padding: 0.7rem 1.2rem;
    background: -webkit-linear-gradient(top, #79589F 50%, #4A4090 51%);
    cursor: pointer;
  }
  .btn-info {
	  border: none;
	  border-radius: 0.125rem;
	  outline: none;
	  margin: 5px;
	  padding: 0.7rem 1.2rem;
	  background: -webkit-linear-gradient(top, #17a2b8 50%, #138496 51%);
      cursor: pointer;
  }
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }