.navbar-brand{
    color: white;
}
#name-logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-top: 5px;
    color: lightskyblue;
    letter-spacing: 2px;
}
.navbar-header a:hover {
    text-shadow: lightsteelblue;
    font-weight: bolder;
    padding-top: 10px;
}
#full-nav{
    padding: 20px;
    padding-bottom: 35px;
    background-color: rgba(0, 0, 0, 0.5);
}
#develope {
    color: #ffff;
}
#res-dwl {
    color: white;
}
#about-link{
    margin: 10px;
    text-align: center;
    color: #ffff;
    font-size: 15px;
    text-decoration: none;
}
#port-link{
    margin: 10px;
    text-align: center;
    color: lightskyblue;
    font-size: 15px;
    text-decoration: none;
}
#cont-link{
    margin: 10px;
    text-align: center;
    color: lightskyblue;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
}
/* nav {
    flex-wrap: nowrap;
} */
.justify-content-end{
    flex-wrap: nowrap;
  }
header nav a:hover, 
.active {
    font-style: italic;
    font-weight: bold;
  }
.nav-title{
    margin-top: 15px;
}
@media only screen and (max-width: 768px) {
    .justify-content-end {
      width: 100%;
    }
  
    .justify-content-end {
      height: auto;
      width: 100%;
      padding: 5px;
      justify-content: center;
    }
  
    .justify-content-end {
      font-size: 15px;
    }
  
    .justify-content-end {
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .justify-content-end {
      height: auto;
      padding: 0;
      text-align: center;
    }
    .justify-content-end {
      font-size: 13px;
      margin: 0 8px;
    }
    .justify-content-end {
      padding: 0;
    }
    .active {
      padding: 0;
    }
  }
  
  @media only screen and (max-width: 330px) {
    .justify-content-end {
      font-size: 11px;
      margin: 0 8px;
    }
    .active {
      padding: 0;
    }
  }
body{
    background-image: url("https://miro.medium.com/max/2000/1*ZeixM2OCyy_xUEKMnSp_bQ.png");
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-bottom: 5%; */
}
.uk-height{
    height: 1100px;
}
.uk-margin-auto{
    margin-top: 5%;
    margin-bottom: auto!important;
}
.uk-text-center{
    color: white;
    font-size: 20px;
}
#h1-top{
    font-size: 60px;
}
