.navbar-brand{
    /* color: #5f5a5a; */
    color: white;
}
#name-logo{
    font-size: 30px;
    /* background-color: rgba(0, 0, 0, 0.8); */
}
#full-nav{
    padding: 20px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}
#develope {
    color: #ffff;
}
#res-dwl {
    color: white;
}
#about-link{
    margin: 8px;
    text-align: center;
    color: #ffff;
    /* background-color: #313131; */
    /* padding: 5px; */
    font-size: 15px;
    /* border: 2px solid #222; */
    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 0 rgba(0,0,0,.25); */
    text-decoration: none;
}
#port-link{
    margin: 8px;
    text-align: center;
    color: #ffff;
    /* background-color: #313131; */
    /* padding: 5px; */
    font-size: 15px;
    /* border: 2px solid #222; */
    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 0 rgba(0,0,0,.25); */
    text-decoration: none;
}
#cont-link{
    margin: 8px;
    text-align: center;
    color: #ffff;
    /* background-color: #313131; */
    padding: 5px;
    font-size: 15px;
    /* border: 2px solid #222; */
    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 0 rgba(0,0,0,.25); */
    text-decoration: none;
}
.nav-title{
    margin-top: 15px;
    
}
body{
    background-image: url("https://miro.medium.com/max/2000/1*ZeixM2OCyy_xUEKMnSp_bQ.png");
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
}
.uk-height{
    height: 1100px;
}
.uk-margin-auto{
    margin-top: 5%;
    margin-bottom: auto!important;
}
.uk-text-center{
    /* color: rgba(238, 238, 238, 0.7); */
    color: white;
    font-size: 20px;
}
#h1-top{
    font-size: 60px;
}
/* #skillSet {
    margin-top: 8em;
} */